<div id="container">
    <button (click)="logout()" mat-raised-button color="primary">Deslogar
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Visão de finalizador - Processos</h2>
    <div *ngIf="view == 'visualizar'">
        <br>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let processo of processos">
                    <td>{{processo.id}}</td>
                    <td>{{processo.titulo}}</td>
                    <td>{{processo.descricao}}</td>
                    <td>
                        <button mat-raised-button color="accent">Incluir parecer sobre o processo</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>